*{
    margin:0;
    padding:0;
}

@media (max-width: 768px) {
    h1{
        font-size: 22px;
    }

    .card-title,.card-subtitle, .urlclass, .applyclass, .gitjobclass {
        overflow: hidden;
    }
}

.card-title,.card-subtitle, .urlclass, .applyclass, .gitjobclass {
    overflow: hidden;
}